<!DOCTYPE html>
<html>

<head>

    <title>CPT Code Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>CPT Code Management System</h1>

    <p>Welcome to the CPT Code Management System</p>


    <a href="/add">
        <button>Add CPT Code</button>
    </a>


    <a href="/view">
        <button>View CPT Codes</button>
    </a>


    <a href="/search">
        <button>Search CPT Code</button>
    </a>


    <a href="/update">
        <button>Update CPT Code</button>
    </a>


    <a href="/delete">
        <button>Delete CPT Code</button>
    </a>

</body>

</html>